# RStudio files
.Rhistory
.Rproj.user/

# Raw sequencing data
*.fastq
*.fastq.gz

# Flye outputs
flye/bbd/
bbd/

# MetaBAT large outputs
metabat/assembly_bbd_ordered.fasta
metabat/bins_bbd/

# CheckM generated outputs
checkm/bins_bbd/
checkm/out/
checkm/slurm-*.out

# GTDB-Tk generated outputs
gtdbtk/genomes/
gtdbtk/out/
gtdbtk/slurm-*.out

# Prokka generated annotations
prokka/metabat.*/
prokka/slurm-*.out

# MinPath generated outputs
minpath/*.ec
minpath/*.ec.report
minpath/*.ec.details
minpath/pathway_summary.txt
minpath/prokka_gene_summary.tsv

# General Slurm logs
slurm-*.out
